Source: openwebrtc-gst-plugins
Priority: optional
Maintainer: George Hopkins <george-hopkins@null.net>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 libgstreamer-plugins-base1.0-dev,
 libusrsctp-dev
Standards-Version: 3.9.7
Section: libs
Homepage: <http://www.openwebrtc.org>
Vcs-Git: https://github.com/george-hopkins/pkg-openwebrtc-gst-plugins.git
Vcs-Browser: https://github.com/george-hopkins/pkg-openwebrtc-gst-plugins

Package: libgstsctp
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SCTP plugin for GStreamer

Package: libgstsctp-dev
Section: libdevel
Architecture: any
Depends: libgstsctp (= ${binary:Version})
Description: SCTP plugin for GStreamer (development files)
